.mini-search-start-state .team-side 		{ width: 680px; }
.mini-search-start-state .player-side 		{ width: 680px; }
.mini-search-start-state .results-side		{ width: 210px; }
.mini-search-start-state .results-header 	{ display:block;}
.mini-search-start-state .ps 				{ display: block; }